@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  margin: 0;
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0a192f;
  background-image: linear-gradient(to bottom right, #0a192f, #112240);
  color: #ccd6f6;
  overflow-x: hidden;
}